/* LINKS */
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Anton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* FIM DOS LINKS */

/* ROOT */
:root {
    --background: #DAD3C1;
    --font-color: #27200E;
}
/* FIM DO ROOT */

/* ESTILO GERAL */
* {
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--font-color);
}

h1 {
    font-family: "Anton", serif;
    font-weight: 400;
}

p {
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

/* FIM ESTILO GERAL */

/* ESTILO DO HEADER */

.logo {
  width: 900px;
  color: var(--font-color);
  margin: 0 0 0 35px;
}

/* FIM ESTILO HEADER */

/* ESTILO PARTE 1 */

.titulo1 {
  margin: 30px 0 0 0;
}

.container {
  display: flex;
  border: solid 3px var(--font-color);
  padding: 10px;
  margin: 15px -5px;
}

.content1 {
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 10px;
}

.titulo1 {
  font-size: 50px;
  width: 600px;
  text-align: justify;
  margin: 20px 10px 0 100px;
} 

.texto1 {
  width: 350px;
  text-align: justify;
  margin: 0 0 0 90px;
}

.video1 {
  height: 500px;
  margin: -419px 0 0 500px;
  
}


/* FIM DO ESTILO 1 */